.container {
    max-width: 360px;
    max-height: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    background-color: #ecf5f8;
}

.enter {
    opacity: 0;
    transform: translateX(-100px);
}

.enterActive {
    opacity: 1;
    transform: translateX(0);
    transition: all 250ms ease-in-out;
}

.exit {
    opacity: 1;
    transform: translateX(0);
}

.exitActive {
    opacity: 0;
    transform: translateX(200%);
    transition: all 250ms ease-in-out;
}